body{
    font-family: 'Roboto', sans-serif;
}
.nav-item{
        letter-spacing : .2em;
        font-size : 18px ;
        text-transform : uppercase;

}
.nav-item my_cart{
       size : 35%;
}
.dropdown-item{
        letter-spacing : .2em;
        font-size : 14px ;
        text-transform : uppercase;
}
.my_footer{
        background-color: #E5E7E9 ;
        height : 40px;
}
.my_footer p{
        padding-top : 10px;
        font-size : 14px;

}
.navbar{
       background-color: #D0D3D4 ;

}
/*** Category Page ***/
.my_row_class{
       padding-top : 15px;
}
.my_row_class .mx_auto{
       color : #0000;
       font-size : 20px;
}

.my_image{
       width : 100%;
       height : 400px;
}
.my_title{
       font-size : 26px;
       text_transform : uppercase;
       letter-spacing : .2em;
}
.my_image_banner{
      padding :5px;
}
.my_bottom_margin{
      margin-bottom: 10px;
}
.card-body h3{
      font-size : 14px;
      text-transform : uppercase ;
      letter-spacing ; .2em;}

/*** Product page ***/

.my_prod_row_class{
      padding-top : 15px;
      padding-bottom : 20px;
}
.my_prod_row_class .mx_auto{
      color : #000;
      font-size : 12px;
      text-decoration : none
}
.my_prod_title{
      font-size : 26px;
      text_transform : uppercase;
      letter-spacing : .2em;
      padding-top : 15px;
      padding-bottom : 10px;
}
.my_prod_text{
      padding-right : 20px;

}
.my_title{
     font-size : 20px;
}

/***  Search_app  ***/

.my_search_text{
     padding-top : 20px;
}
/*** Cart Page ***/

.my_custom_table{
     min-width : 400px;
     font-size :14px;
}
.my_custom_thead{
    font-weight : normal;
    text_transform : uppercase;
    letter-spacing : .2em;
    background-color : #f8f8fa!important;
}
.custom_a{
     text-decoration : none;
}
.custom_icon{
     text-decoration : none;
     color : #868e96 !important;
}
.my_custom_button{
     margin-top : 5px;
}